/*******************************HHHHEEEERRRRRROOOOO*********************/

.hero {
  width: 100%;
  height: inherit;
  padding: 6vw 7vw;
}

.hero h1 {
  font-size: 8vw;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: #1059a5;
}

.middle_heading {
  display: flex;
}

.middle_heading > video {
  width: 160px;
  border-radius: 100px;
  height: 130px;
}

#hero_shape {
  position: absolute;
  width: 16vw;
  height: 16vw;
  left: 0;
  top: 94%;
}

.hero-1 {
  height: 100%;
  width: 100%;
  background-color: #86b6f6;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  filter: blur(20px);
}

.hero-2 {
  height: 20vw;
  width: 20vw;
  background: linear-gradient(#86b6f6, #86abf6);
  position: absolute;
  border-radius: 50%;
  filter: blur(30px);
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.hero-3 {
  height: 20vw;
  width: 20vw;
  background: linear-gradient(#86b6f6, #86abf6);
  border-radius: 50%;
  position: absolute;
  filter: blur(30px);
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}
