* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: auto;
}

#loader {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: #fff;
  z-index: 9999;
}

#loader #topheading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

#topheading h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

#loader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: 500;
}

#loader h1 span {
  font-family: "mazius";
}

.reveal .parent {
  display: block;
  overflow: hidden;
}

.reveal .parent .child {
  display: block;
  /* padding-bottom: 10px; */
}

.parent .child span {
  display: inline-block;
}

#green {
  /* display: none; */
  width: 100%;
  height: 100vh;
  /* background-color: #14cf93; */
  background-image: linear-gradient(90deg, #6e48ff 0, #cf40ff 48%, #ffa22c);

  position: absolute;
  z-index: 999;
  top: 100%;
}

#home {
  width: 100%;

  height: auto;
  /* background-color: #fcfaf8; */
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  /* background-image: url("/3150060.jpg"); */
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: rgba(0, 0, 0, 0.5); */
  background: #e6effd;

  padding: 0 5vw;
  width: 100%;
  height: 60px;
  /* position: sticky; */
  z-index: 999;
  top: 0;
}

#nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  /* color: #fff; */
  color: linear-gradient(90deg, #6e48ff 0, #cf40ff 48%, #ffa22c);
}

#nav a .line {
  position: absolute;
  display: inline-block;
  height: 1px;
  /* background-color: #000; */
  background-image: linear-gradient(90deg, #6e48ff 0, #cf40ff 48%, #ffa22c);
  bottom: 0;
}

#line1 {
  left: 0;
  width: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition-delay: 0.2s;
}

#line2 {
  right: 0;
  width: 100%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#nav a:hover #line1 {
  width: 100%;
}
#nav a:hover #line2 {
  width: 0;
}

.row {
  /* background-color: #14cf93; */
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #333;
  padding: 2px 0vw;
  /* padding-right: 12vw; */
  line-height: 1.2;
  align-items: center;
  /* flex-direction: column; */
}

.row h1 {
  font-size: 13vw;
  font-weight: 500;
  /* padding-bottom: 20px; */
}

.row .text {
  margin-top: 0vw;
}

.row h5 {
  opacity: 0.8;
  font-size: 15px;
  font-weight: 500;
}

.hero_gradientTextBackground__51BXa {
  font-family: Gilroy;
  background-image: linear-gradient(90deg, #6e48ff 0, #cf40ff 48%, #ffa22c);
  /* background-image: linear-gradient(135deg, #14cf93, #0d8b63); */

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 11vw;
  font-weight: 500;
}

.row:nth-child(2) {
  margin-top: 0;
}

.row svg {
  height: 9vw;
  margin: 0 2.5vw;
}

.row video {
  width: 160px;
  border-radius: 100px;
  height: 130px;
}

path,
polyline {
  stroke: #14cf93;
}

#imagery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vw;
  width: 100%;
  padding: 5vw 7vw;
  /* z-index: 9; */
}

#imagery #imglef {
  width: 30%;
  height: auto;
  /* margin-right: 20px; */
}

#imglef h1 {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 2.4vw;
  text-transform: uppercase;
  color: #333;
}

#imglef h1 span {
  color: #14cf93;
  font-family: "Mazius Review 20.09";
  font-weight: 100;
  font-style: italic;
}

#imgrig {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60%;
  height: 300px;
}

#imgrig .imgcntnr {
  position: absolute;
  width: 27vw;
  height: 40vw;
  border-radius: 1vw;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
  filter: grayscale(0);
  z-index: 9;
}

#imgrig .imgcntnr:hover {
  filter: grayscale(1);
}

#imgrig .imgcntnr:nth-child(1) {
  transform: translate(-10%, -8%) rotate(-20deg);
  /* background-image: url("https://plus.unsplash.com/premium_vector-1716415027650-30c4113d8e0f?q=80&w=1800&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-size: cover;
  background-position: center;
  background-image: url("./images/2.png");
}
#imgrig .imgcntnr:nth-child(2) {
  transform: translate(0%, 0%) rotate(-15deg);
  /* background-image: url("https://plus.unsplash.com/premium_vector-1724321376531-70da449dd420?q=80&w=1800&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-size: cover;
  background-position: center;
  background-image: url("./images/3.png");
}
#imgrig .imgcntnr:nth-child(3) {
  transform: translate(10%, 10%) rotate(-5deg);
  background-image: url("https://plus.unsplash.com/premium_vector-1723817905925-f2bb27dc319c?q=80&w=1800&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-image: url("./images/1.png");
}

#work {
  transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
  padding-top: 150px;
  position: relative;
  width: 100%;
  min-height: 50vh;
  background-color: #f2f2f2;
  padding-bottom: 5vh;
}

#work .workrow {
  padding: 0 12vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.maz {
  font-style: italic;
  color: #14cf93;
  /* background-image: linear-gradient(90deg, #6e48ff 0, #cf40ff 48%, #ffa22c); */
}

.workrow h1 {
  display: flex;
  align-items: baseline;
  font-size: 8vw;
  font-weight: 500;
}

.workrow h1 .mini {
  margin-left: 1vw;
  font-size: 2vw;
  font-weight: 400;
}

.o-ui-arrow {
  width: 5vw;
  transform: rotate(90deg);
}

.o-ui-arrow path {
  stroke: rgb(158, 158, 158);
}

#images {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 6vw;
  position: relative;
  width: 100%;
  padding: 0 2vw; /* Adjusted padding to fit images properly */
  flex-wrap: wrap; /* Added to make items wrap on smaller screens */
}

.cnt {
  overflow: hidden;
  border-radius: 50px;
  margin-bottom: 2vw; /* Added margin to avoid overlap */
}

.cnt img {
  width: 100%;
  transition: filter cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.cnt1,
.cnt2 {
  width: 48%; /* Ensures proper alignment */
}

/* Mobile Adjustments */
@media screen and (max-width: 768px) {
  #images {
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: center;
    padding: 0 5vw;
  }

  .cnt1,
  .cnt2 {
    width: 100%; /* Full width for images on mobile */
    margin-bottom: 5vw;
  }

  .workrow h1 {
    font-size: 12vw; /* Adjust title size for mobile */
  }

  .workrow h1 .mini {
    font-size: 4vw; /* Adjust subtitle size for mobile */
  }

  .o-ui-arrow {
    width: 10vw; /* Adjust arrow size for mobile */
  }
}

/* sevices */

section {
  height: auto;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #fcfaf8;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  /* background-image: linear-gradient(to top, #e7f0fd 0%, #accbee 100%); */

  padding-bottom: 100px;
  /* margin-bottom: 100px; */
}
#services {
  background-image: linear-gradient(to top, #e7f0fd 0%, #accbee 100%);
}
.section-heading {
  font-size: 8vw;
  font-weight: 500;
  margin: 4vw 0;
}
.servicecardRow {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.servicecard {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #14cf93 50%);
  /* background: linear-gradient(90deg, #6e48ff 0, #cf40ff 48%, #ffa22c); */
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 10px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.servicecard h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
.servicecard p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #14cf93;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.servicecard:hover {
  background-position: 0 100%;
}
.servicecard:hover .icon-wrapper {
  background-color: #ffffff;
  color: #14cf93;
}
.servicecard:hover h3 {
  color: #ffffff;
}
.servicecard:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/* media query */

@media only screen and (max-width: 768px) {
  #loader h1 {
    font-size: 8vw;
  }

  .row {
    flex-direction: column;
  }
  .row1 {
    flex-direction: column-reverse;
  }
  .row h1 {
    font-size: 20vw;
  }
  .row svg {
    height: 20vw;
  }

  .arrow {
    height: 5vw;
  }
  .localtime {
    display: none;
  }

  #imagery h1 {
    /* flex-direction: column; */
    font-size: 5.4vw;
  }
}

/* contact us */
#contact {
  /* background-color: #f2f2f2; */
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.contact_us_green .responsive-container-block {
  min-height: 75px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  /* margin-bottom: 60px; */
  margin-left: auto;
}

.contact_us_green input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_green textarea:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_green .text-blk {
  margin: 0;
  line-height: 25px;
}

.contact_us_green .responsive-cell-block {
  min-height: 75px;
}

.contact_us_green .responsive-container-block.container {
  max-width: 1320px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}

.contact_us_green .responsive-container-block.big-container {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
}

.contact_us_green .text-blk.contactus-head {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.contact_us_green .text-blk.contactus-subhead {
  max-width: 385px;
  color: #939393;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.contact_us_green .contact-svg {
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 65px;
  height: 40px;
}

.contact_us_green .social-media-links {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.contact_us_green .social-svg {
  width: 35px;
  height: 35px;
}

.contact_us_green .text-box {
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.contact_us_green .contact-text {
  color: #939393;
}

.contact_us_green .input {
  height: 50px;
  width: 90%;
  border-top-width: 2.5px;
  border-right-width: 2.5px;
  border-bottom-width: 2.5px;
  border-left-width: 2.5px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #a2a2a2;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.contact_us_green .textinput {
  height: 200px;
  width: 95%;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #a2a2a2;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.contact_us_green .submit-btn {
  min-width: 290px;
  height: 60px;
  background-color: #14cf93;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  cursor: pointer;
}

.contact_us_green .btn-wrapper {
  display: flex;
  justify-content: center;
}

.contact_us_green .text-blk.input-title {
  color: #14cf93;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
}

.contact_us_green
  .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.contact_us_green
  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_us_green .head-text-box {
  display: none;
}

.contact_us_green .line {
  border-right-width: 1.8px;
  border-right-style: solid;
  border-right-color: #14cf93;
}

.contact_us_green
  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
}

@media (max-width: 1024px) {
  .contact_us_green .responsive-container-block.container {
    justify-content: center;
  }

  .contact_us_green .text-blk.contactus-subhead {
    max-width: 90%;
  }

  .contact_us_green .head-text-box {
    display: block;
  }

  .contact_us_green
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 0px;
  }

  .contact_us_green .line {
    border-right-width: initial;
    border-right-style: none;
    border-right-color: initial;
    border-bottom-width: 1.8px;
    border-bottom-style: solid;
    border-bottom-color: #a2a2a2;
  }

  .contact_us_green
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_green .workik-contact-bigbox {
    display: flex;
  }

  .contact_us_green
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .contact_us_green .text-content {
    display: none;
  }

  .contact_us_green .input {
    width: 100%;
  }

  .contact_us_green .textinput {
    width: 100%;
  }

  .contact_us_green .text-blk.contactus-head {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .contact_us_green .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .contact_us_green .workik-contact-bigbox {
    display: block;
  }

  .contact_us_green .text-blk.input-title {
    font-size: 16px;
  }

  .contact_us_green .text-blk.contactus-head {
    font-size: 26px;
  }

  .contact_us_green .text-blk.contactus-subhead {
    font-size: 16px;
    line-height: 23px;
  }

  .contact_us_green .input {
    height: 45px;
  }

  .contact_us_green
    .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin: 0 0 25px 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap");

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
